.carousel{
    width: 40%;
    height: 400px;
    position: relative;
}

.carouselInner{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 145px;
    border-radius: 15px;
}
.carouselInner .left{
    height: 100%;
    flex: 5%;
    display: grid;
    place-items: center;
    color: transparent;
    cursor: pointer;
}
.carouselInner .center{
    flex:80%;
    height: 100%;
    display:grid;
    place-items: center;
    position: absolute; 
    
}
h1,p{
    font-family: 'Montserrat', sans-serif;  
  text-align: justify;
    text-align: center;
    
}

.carouselInner .right{
    height: 100%;
    flex: 5%;
    display: grid;
    place-items: center;
    color: transparent;
    cursor: pointer;
}